<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" href="/images/phonescm.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="login-container">
    <a th:href="@{/contosphere/}" class="brand">
        <img src="/images/phonescm.png" alt="Brand Logo" class="brand-logo">
        <span class="brand-name">Contosphere</span>
    </a>

    <h2 class="login-heading">Log In</h2>

    <!-- Display error message if it exists -->
    <div th:if="${param.emptyerror}" class="error-message validation italic" style="color: red; margin-bottom: 10px;">
        <p>Username and password cannot be empty</p>
    </div>

    <div th:if="${param.error}" class="error-message validation italic" style="color: red; margin-bottom: 0px;">
        <p>Invalid username or password</p>
    </div>

    <form th:action="@{/user/authenticate}" method="post" class="login-form">
        <input type="text" name="email" placeholder="Username / Email" class="input-field" required>
        <input type="password" name="password" placeholder="Password" class="input-field" required>
        <button type="submit" class="signin-button">Sign In</button>
    </form>

    <div class="social-login">
        <span>Sign in via:</span>
        <div class="social-icons">
            <a th:href="@{/oauth2/authorization/google}" class="social-icon google"></a>
            <a th:href="@{/oauth2/authorization/facebook}" class="social-icon facebook"></a>
            <a th:href="@{/oauth2/authorization/github}" class="social-icon github"></a>
        </div>
    </div>

    <a th:href="@{/contosphere/signup}" class="signup-link">Don't have an account? Sign up</a>
    <a href="#" class="forgot-password-link">Forgot Password?</a>
</div>

</body>
</html>
