<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{:: #content}, ~{:: title},~{})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Services</title>
    <link rel="icon" href="/images/phonescm.png" type="image/x-icon">
</head>
<body>
<div id="content">
    <h1>This is Services Page</h1>

    <p class="lead">
        I prefer a hybrid work arrangement, which offers a balance between remote and on-site work. This model
        allows me to leverage the flexibility of working from home for focused, independent tasks while also
        benefiting from the collaborative environment of the office for team meetings and hands-on projects. The
        hybrid approach supports productivity and work-life balance, enabling me to maintain a high level of
        efficiency and engagement with both individual responsibilities and team interactions.
    </p>
</div>
</body>
</html>